#menu{
    grid-area: menu;
    ol{
        list-style-type: none;
        background-color: #462521;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    li{
        display: inline-block;
        color: #f4e9cd;
    }
    a{
        color: #E9DFC6;
        padding: 20px 60px;
        display: block;
        text-decoration: none;
    }
    a:hover{
        background-color: #846827;
    } 
    }
