.inscripciones{
    font-size: 40px;
    background-color: #e5d5a6;
    padding: 10px;
    border: 8px double #ecd298;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
}

.titulo-inscripciones{
    color: #cfb26e;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    background-color: #e5d19d;
    padding: 10px;
    border: 8px double #846827;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
}