.main{
    background-color: #e1cd99;;
    text-align: left;
    padding: 20px;
    margin: 10px;
    font-style: italic;
    border: 5px #462521 double;
    width: 600px;
}

.datos-personales{
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px
}