@media (max-width:768px){
    /** General **/

*{
    font-family: 'poppins';
}

/** Etiquetas **/

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxM_soBz6cOop11TyEFSVmSr1kAVEQN8Jzhg&usqp=CAU);
}

/** Clases **/

.nav ol{
    list-style-type: none;
    background-color: #462521;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 413px;
}

.nav li{
    display: inline-block;
    color: #f4e9cd;
}

.nav li a{
    color: #E9DFC6;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
}

.nav li a:hover{
    background-color: #846827;
}

.header{
    font-size: 20px;
    background-color: #e5d5a6;
    padding: 5px;
    border: 5px double #ecd298;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
}

.titulo-inscripciones{
    color: #c19325;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    background-color: #e4c578;
    padding: 5px;
    border: 5px double #846827;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
}

main{
    background-color: #e4c578;;
    text-align: left;
    padding: 10px;
    margin: 5px;
    font-style: italic;
    border: 5px #462521 double;
    width: 350px;
}

.datos-personales{
    font-weight: bold;
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px
}

.seccion-pie{
    background-color: #3B382F;;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

.direccion{
    color: #E9DFC6;
    text-align: left;
}

}