.plataforma{
    background-color: #3d2e2c;
    border: 8px double #846827;
    width: 1200px;
    padding: 40px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
 }
 
 .titulo-plataforma{
     color: #c6a149;
     font-size: 40px;
     font-family: sans-serif;
     text-align: center;
 }
 
 .subtitulo-plataforma{
     background-color: #3d2e2c;
     margin-top: 10px;
     margin-right: 10px;
     margin-bottom: 18px;
     margin-left: 10px;
     width: 1000px;
     color: #c6a149;
     font-size: 20px;
     font-style: italic;
 }