.plataforma{
    background-color: #3d2e2c;
    padding: 10px;
    border: 8px double #846827;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
 }
 
 .titulo-plataforma{
     color: #c6a149;
     font-size: 40px;
     font-family: sans-serif;
     text-align: left;
 }
 
 .subtitulo-plataforma{
     color: #c6a149;
     text-align: left;
     font-size: 20px;
     font-style: italic;
 }