.video{
    background-color: #5b4542;
    width: 750px;
    padding: 10px;
    margin: 0px;
    border: 8px double #f4e9cd;
    text-align: center;
    margin: 0px;
}

.titulo-video{
    background-color: #5b4542;
    color: #c6a149;
    text-align: center;
    font-style: italic;
    padding: 5px;
}

.encuesta{
    background-color: #5b4542;
    color: #c6a149;
    font-style: italic;
    width: 450px;
    border: 8px double #f4e9cd;
    text-align: left;
    padding: 10px;
}