.seccion-pie{
    background-color: #3B382F;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 40px;
}

.direccion{
    color: #E9DFC6;
    text-align: left;
}

.redes{
    text-align: center;
    text-align: right;
}

.redes li{
    padding: 0px;
    display: inline-block;
}

.redes li a{
    color: #E9DFC6;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.redes li a:hover{
    background-color: #846827;
}