.curso{
    display: flex;
    flex-direction: column;
}

.card-body{
    background-color: #efe6d0;
    border: 8px double #3B382F;
}

.card{
    padding: 20px;
}

.img{
    border: 8px double #3B382F;
}