/** Etiquetas **/

iframe{
    width: 1100px;
    height: 315px;
}

a{
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, #efdaa6, #462521);
}

h1{
    background: linear-gradient(to left, #efdaa6, #462521 );
}