header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzbtQrme1yRsO_hqr4uJgwPKnWhh5z3N5RNQ&usqp=CAU);
    display: flex;
    justify-content: center;
}

.header{
    background-color: #efdaa6;
    border: 8px double #462521;
    width: 1200px;
    padding: 40px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
}

.titulo{
    color: #462521;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

.titulo-2{
    color: #462521;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}