main{
    background-color: #f4e9cd;
    border: 8px double #462521;
    padding: 30px;
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 18px;
    margin-left: 60px;
    width: 500px;
}