#conteiner{
    display: grid;
    grid-template-areas: 
    "menu menu menu menu"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-row-gap: 30px;
}

#menu{
    grid-area: menu;
}