.imagenes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #e4d8bc;
    padding: 0px;
    text-align: center;
    margin: 10px;
}
.imagenes1{
    width: 500px;
    height: 500px;
    padding: 20px;
}
.hijos{
    padding: 20px;
    border: 8px double;
}

