@media (max-width:768px){
    #bodyNosotros{
        margin: 0px;
        padding: 0px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhLj4cosF51E9o8uOk4lM2oFq-U9RJpq6knA&usqp=CAU);
    }

    
    nav{
        width: 100px;
    }
    
    .nav ol{
        list-style-type: none;
        background-color: #462521;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    
    .nav li{
        display: inline-block;
        color: #f4e9cd;
    }
    
    .nav li a{
        color: #E9DFC6;
        padding: 2px 5px;
        display: block;
        text-decoration: none;
    }
    
    .nav li a:hover{
        background-color: #846827;
    }

    .nosotros{
        background-color: #e6d3a3;
        padding: 15px;
        border: 4px double #746235;
        margin-top: 5px;
        margin-right: 8px;
        margin-bottom: 9px;
        margin-left: 10px;
        width: 300px;
        h1{
            color: #462521;
            font-size: 20px;
            font-family: sans-serif;
            text-align: left;
        }
        h3{
            color: #462521;
            text-align: left;
            font-size: 10px;
            font-style: italic;
        }
    }

    .imagenes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #e4d8bc;
        padding: 0px;
        text-align: center;
        margin: 5px;
    }
    .imagenes1{
        width: 250px;
        height: 250px;
        padding: 10px;
    }
    .hijos{
        padding: 10px;
        border: 4px double;
    }

    .formulario-nosotros{
        font-style: italic;
        border: 2px #462521 double;
        background-color: #efdaa6;
        padding: 10px;
        margin: 10px;
        width: 300px;
    }
    
    .tituloformulario{
            color: #28262c;
            font-family: sans-serif;
            padding: 10px;
    }
    
    .seccion-pie{
        background-color: #3B382F;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 20px;
    }
    
    .redes{
        text-align: center;
    }
    
    .redes li{
        padding: 0px;
        display: inline-block;
    }
    
    .redes li a{
        color: #E9DFC6;
        padding: 3px 3px;
        text-decoration: none;
        display: block;
    }
    
    .redes li a:hover{
        background-color: #846827;
    }
    
    .direccion{
        color: #E9DFC6;
        text-align: left;
    }
    
}

    



    

    
    


