/** General **/

*{
    padding: 0px;
    margin: 0px;
}

*{
    font-family: 'poppins';
}

/** Etiquetas **/

textarea{
    border: solid;
}

body{
    background-image: linear-gradient(to left, #c6a149, #462521)
}

/** Ids **/

#conteiner{
    display: grid;
    grid-template-areas: 
    "menu menu menu menu"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    grid-row-gap: 30px;
}

#menu{
    grid-area: menu;
}

#menu ol{
    list-style-type: none;
    background-color: #462521;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#menu li{
    display: inline-block;
    color: #f4e9cd;
}

#menu li a{
    color: #E9DFC6;
    padding: 20px 60px;
    display: block;
    text-decoration: none;
}

#menu li a:hover{
    background-color: #846827;
}

/** Clases **/

.cabeza{
   background-color: #3d2e2c;
   padding: 10px;
   border: 8px double #846827;
   margin-top: 10px;
   margin-right: 0px;
   margin-bottom: 18px;
   margin-left: 0px;
}

.titulo{
    color: #c6a149;
    font-size: 40px;
    font-family: sans-serif;
    text-align: left;
}

.subtitulo{
    color: #c6a149;
    text-align: left;
    font-size: 20px;
    font-style: italic;
}

.formulario{
    background-color: #5b4542;
    padding: 20px 0px 20px 0px;
    margin: 0px;
}

.ingreso-plataforma{
    font-style: italic;
    border: 5px #462521 double;
    background-color: #d8ba6b;
    width: 300px;
    padding: 10px;
}

.video{
    background-color: #5b4542;
    width: 750px;
    padding: 10px;
    margin: 0px;
    border: 8px double #f4e9cd;
    text-align: center;
    margin: 0px;
}

.titulo-video{
    background-color: #5b4542;
    color: #c6a149;
    text-align: center;
    font-style: italic;
    padding: 5px;
}

.encuesta{
    background-color: #5b4542;
    color: #c6a149;
    font-style: italic;
    width: 450px;
    border: 8px double #f4e9cd;
    text-align: left;
    padding: 10px;
}

.seccion-pie{
    background-color: #5b4542;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 40px;
}

.direccion{
    color: #E9DFC6;
    text-align: left;
}

.redes{
    text-align: center;
    text-align: right;
}

.redes li{
    padding: 0px;
    display: inline-block;
}

.redes li a{
    color: #E9DFC6;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.redes li a:hover{
    background-color: #846827;
}

@media (max-width:768px){
    #conteiner{
        display: grid;
        grid-template-areas: 
        "menu menu menu menu"
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px;
        grid-row-gap: 30px;
    }
    
    #menu ol{
        list-style-type: none;
        background-color: #462521;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    
    #menu li{
        display: inline-block;
        color: #f4e9cd;
    }
    
    #menu li a{
        color: #E9DFC6;
        padding: 12px 12px;
        display: block;
        text-decoration: none;
    }
    
    #menu li a:hover{
        background-color: #846827;
    }

    .cabeza{
        background-color: #3d2e2c;
        padding: 5px;
        border: 5px double #846827;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 13px;
        margin-left: 0px;
    }
     
     .titulo{
         color: #c6a149;
         font-size: 30px;
         font-family: sans-serif;
         text-align: left;
    }
     
     .subtitulo{
         color: #c6a149;
         text-align: left;
         font-size: 15px;
         font-style: italic;
    }
     
    .formulario{
         background-color: #5b4542;
         padding: 10px 0px 10px 0px;
         margin: 0px;
    }
     
    .ingreso-plataforma{
         font-style: italic;
         border: 5px #462521 double;
         background-color: #d8ba6b;
         width: 200px;
         padding: 5px;
    }

    iframe{
        width: 380px;
        height: 250px;
    }
     
    .video{
         background-color: #5b4542;
         width: 400px;
         padding: 5px;
         margin: 0px;
         border: 5px double #f4e9cd;
         text-align: center;
         margin: 0px;
    }
     
    .titulo-video{
         background-color: #5b4542;
         color: #c6a149;
         text-align: center;
         font-style: italic;
         padding: 5px;
    }
     
    .encuesta{
         background-color: #5b4542;
         color: #c6a149;
         font-style: italic;
         width: 225px;
         border: 5px double #f4e9cd;
         text-align: left;
         padding: 5px;
    }
     
    .seccion-pie{
        display: flex;
        flex-direction: column;
        background-color: #3B382F;
        margin: 0px;
        padding: 25px;
    }
    
    .direccion{
        color: #E9DFC6;
        text-align: left;
    }
}